@charset "utf-8";
/* CSS Document */
h3{
	text-align:center;
	font-family:'SiYuan-ExtraLig22cf33de84ff7';
	font-size:50px;
}
.logo {
	text-align:center;
}
.xiangyu{
	position:absolute;
	bottom:20px;
	text-align:center;
	width:100%;
}